# Lines that start with '#' are comments.
*.[oa]
*~
*.cdb-BAK
*.cdb
.DS_Store
._.DS_Store
*.bak

# binaries:
midi-transform

# dependencies
dependencies/CoreMIDI/
dependencies/com-informatimago/
dependencies/midi/
